<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Discord</title>
</head>

<body>
    <h1>Discord oauth2 sample site!</h1>

    <p>hello <%=user.tag%>, Welcome to our website dashboard!</p>
</html>